
body, input {
    font-family: "Courier New", Courier, monospace;
}

h1, h2, h3 {
    font-family: "Comic Sans MS", cursive, sans-serif
}

button {
    font-size: 24px;
    background-color: #6997d3;
    color: #05326d;
    border-radius: 10px;
    text-align: center;
}

button:hover {
    background-color: #8e6dd7;
    color: #280671;
}

button:active {
    background-color: #6997d3;
    color: #06266f;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.input-content {
    width: 400px;
    float: left;
}

.input-content #url {
    width: 380px;
    height: 30px;
    margin: 10px;
    border: 3px solid #2E2E1F;
}

.input-content #headers, #body {
    width: 380px;
    height: 200px;
    margin: 10px;
    border: 3px solid #2E2E1F;
}

.input-content #buttons{
    width: 380px;
    margin: 10px;
    text-align: center;
}

.model-content {
    float: left;
}

.model-content .sub-content {
    width: 220px;
    margin: 10px;
    padding: 10px;
    display: inline;
    position: relative;
    float: left;
}

.model-content .batch-content {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 3px solid #2E2E1F;
    display: inline-block;
    position: relative;
    float: bottom;
}

.model-content .user-content{
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 3px solid #2E2E1F;
    display: inline-block;
    position: relative;
    float: top;
}

.model-content .person-content{
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 3px solid #2E2E1F;
    display: inline-block;
    position: relative;
    float: left;
}

.result-content {
    float: left;
}

.result-content #results{ 
    min-width: 300px;
    max-width: 600px;
    min-height: 510px;
    float: left;
    margin-top: 10px;
}












