.graphic
{
	display: inline-block;
	position: absolute;
	cursor: auto;
	border-radius: 5px;
	padding: 8px;
	border: 1px solid #333;
	width: 250px;
	z-index: 100;
	min-height: 35px;
	background: #ddd;
}

.graphic.moving
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.graphic[ahn='00']
{
	background: #f55;
}

.graphic[ahn='01']
{
	background: #fea;
}

.graphic[ahn='10']
{
	background: #aef;
}

.graphic[ahn='11']
{
	background: #6bff6b;
}

.graphic .id
{
	float: right;
	background: #777;
	color: white;
	border-radius: 8px;
	padding: 2px;
	position: relative;
	top: -2px;
	min-width: 20px;
	text-align: center;
	cursor: default;
}

.graphic .name
{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	width:85%;
	display:inline-block;
}

.empty[gender=m]
{
	background: #aef;
	box-shadow: 1px 1px 7px 2px #7ab inset;
}

.empty[gender=f]
{
	background: #fae;
	box-shadow: 1px 1px 7px 2px #b7a inset;
}

.graphic > input
{
	display:none;
}

.graphic > label
{
	display: block;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:151;
	text-align: center;
	vertical-align: middle;
	text-transform:uppercase;
	color:#555;
	font-size:14pt;
	padding-top:15px;
	cursor:pointer;
}

.graphic:hover
{
	box-shadow: 0px 0px 30px -5px #555;
}

.edit-info label
{
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #444;
	background: #eee;
	padding: 3px 8px;
	font-size: 80%;
	margin: 5px 4px -1px;
	display:inline-block;
	float:right;
}

.edit-info label:active
{
	box-shadow: 1px 1px 2px 2px #ccc inset;
}

.edit-info input
{
	border-radius: 6px;
	padding: 2px 5px;
	width: 80%;
}

.edit-info input[type=submit]
{
	position:absolute;
	left:-9999px;
	width:1px;
	height:1px;
}

.demo
{
	background:url('../img/demo.png');
}

.graphic/*:not(.empty)/**/:after
{
	content:'';
	background-image:url('../img/line-right.png');
	position:absolute;
	left:100%;
	width:17px;
	background-size:17px 340px;
}

.graphic:before
{
	content:' ';
	font-size:1px;
	position:absolute;
	right:100%;
	width:17px;
	border-left:1px solid #000;
}

.graphic[gender='m']:before
{
	top:25px;
	border-top-left-radius:10px;
	border-top:1px solid #000;
}

.graphic[gender='f']:before
{
	bottom:50%;
	border-bottom-left-radius:10px;
	border-bottom:1px solid #000;
}

.graphic.cgen-none:before{border:none;}
.graphic.cgen-0:before{height:21px;}
.graphic.cgen-1:before{height:27px;}
.graphic.cgen-1b:before{height:40px;}
.graphic.cgen-2:before{height:67px;}
.graphic.cgen-3:before{height:140px;}
.graphic.cgen-4:before{height:295px;}
.graphic.cgen-5:before{height:605px;}
.graphic.cgen-6:before{height:1225px;}
.graphic.cgen-7:before{height:1920px;}
.graphic.cgen-8:before{height:3840px;}
.graphic.cgen-9:before{height:7680px;}

.graphic.gen-0:after{top:-6px;background-position-y:4px;height:11px;}
.graphic.gen-1:after{top:14px;background-position-y:-158px;height:23px;}
.graphic.gen-2:after{top:7px;background-position-y:-150px;height:39px;}
.graphic.gen-3:after{top:-22px;background-position-y:-121px;height:97px;}
.graphic.gen-4:after{top:-80px;background-position-y:-63px;height:213px;}
.graphic.gen-5:after{top:-198px;background-position-y:55px;height:448px;}
.graphic.gen-6:after{top:-435px;background-position-y:-218px;height:918px;background-image:url('../img/line-right-lg.png');background-size:17px 1360px;}
.graphic.gen-7:after{top:-885px;background-position-y:232px;height:1849px;background-image:url('../img/line-right-lg.png');background-size:17px 1360px;}
.graphic.gen-8:after{top:-1664px;background-position-y:1662px;height:3328px;background-image:url('../img/line-right-lg.png');background-size:17px 1360px;}