.graphic
{
	display: inline-block;
	position: absolute;
	cursor: auto;
	border-radius: 5px;
	padding: 8px;
	border: 1px solid #333;
	width: 250px;
	z-index: 100;
	min-height: 35px;
}

.graphic[gender=m]
{
	background: #aef;
}

.graphic[gender=f]
{
	background: #fae;
}

.graphic[gender=u]
{
	background: #ddd;
}

.graphic:hover
{
	box-shadow: 0px 0px 30px -5px #aaa;
}

.graphic .id
{
	float: right;
	background: #777;
	color: white;
	border-radius: 8px;
	padding: 2px;
	position: relative;
	top: -2px;
	min-width: 20px;
	text-align: center;
}