.graphic
{
	display: inline-block;
	position: absolute;
	cursor: auto;
	border-radius: 5px;
	padding: 8px;
	border: 1px solid #333;
	width: 250px;
	z-index: 100;
	min-height: 35px;
	background: #ddd;
}

.graphic[ahn='00']
{
	background: #f55;
}

.graphic[ahn='01']
{
	background: #fea;
}

.graphic[ahn='10']
{
	background: #aef;
}

.graphic[ahn='11']
{
	background: #6bff6b;
}

.graphic .id
{
	float: right;
	background: #777;
	color: white;
	border-radius: 8px;
	padding: 2px;
	position: relative;
	top: -2px;
	min-width: 20px;
	text-align: center;
	cursor: default;
}

.empty[gender=m]
{
	background: #aef;
	box-shadow: 1px 1px 7px 2px #7ab inset;
}

.empty[gender=f]
{
	background: #fae;
	box-shadow: 1px 1px 7px 2px #b7a inset;
}

.graphic.empty > input
{
	display:none;
}

.graphic.empty > label
{
	display: block;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:151;
	text-align: center;
	vertical-align: middle;
	text-transform:uppercase;
	color:#555;
	font-size:14pt;
	padding-top:15px;
	cursor:pointer;
}

.edit-info label
{
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #444;
	background: #eee;
	padding: 3px 8px;
	font-size: 80%;
	margin: 5px 4px -1px;
	display:inline-block;
	float:right;
}

.edit-info label:active
{
	box-shadow: 1px 1px 2px 2px #ccc inset;
}

.graphic:hover
{
	box-shadow: 0px 0px 30px -5px #aaa;
}

.edit-info input
{
	border-radius: 6px;
	padding: 2px;
	width: 80%;
}