body
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0px;
	font-family: Helvetica;
	font-size: 11pt;
}

.header
{
	height: 50px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 200;
	background: #fff;
}

.header-cell
{
	display: block;
	vertical-align: bottom;
}

.header-content
{
	display: inline-block;
	border-bottom: 2px solid #ccc;
	padding: 0 30px;
	font-size: 0;
}

.header-content > div
{
	display: inline-block;
	padding: 8px 10px 2px;
	margin: 5px 0;
	border-left: 1px solid #000;
	font-size: 11pt;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	cursor: pointer;
	box-shadow: 0px 2px 8px 3px #fff inset;
}

.header-content > div:hover
{
	background: #afe;
}

.header-content > div:active
{
	background: #acf;
	-webkit-transition: none;
	transition: none;
}

.header-content > div:last-child
{
	border-right: 1px solid #000;
}

.user-data
{
	position: absolute;
	top: 6px;
	right: 10px;
	z-index:201;
}

.user-data > div
{
	padding: 6px 16px;
	cursor: pointer;
	display: inline-block;
}

.user-data > div:hover
{
	text-decoration: underline;
}

.user-login
{
	background: #aef;
}

.user-signup
{
	background: #afe;
}

input
{
	transition: 0.4s;
	-webkit-transition: 0.4s;
	padding: 3px 8px 3px 25px;
	border-radius: 10px;
	border: 1px solid #444;
	width: 200px;
	background: #fff;
}

.search input
{
	background: url('../img/search-icon.png') no-repeat;
	background-size: 16px;
	background-position: 5px 2px;
}

input:focus
{
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 5px rgba(102,175,233,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 5px rgba(102,175,233,0.6);
}

.toolbar
{
	text-align: center;
	border-bottom: 2px solid #ccc;
	z-index: 200;
	position: fixed;
	top:50px;
	left:0;
	right:0;
	height:60px;
	background: #fff;
}

.toolbar > div
{
	display: inline-block;
	height: 40px;
	padding: 8px;
	margin: 15px 0 5px 0;
}

.toolbar > div + div
{
	margin-left: 10px;
}

.main
{
	display: block;
	position:fixed;
	top:112px;
	left:0;
	right:0;
	bottom:0;
}

.sidebar
{
	float: left;
	width: 350px;
	border-right: 1px solid #ccc;
	box-shadow: 0px 8px 6px -6px #ccc inset;
	padding: 10px;
	position: fixed;
	left: -371px;
	top:112px;
	bottom:0;
	background: #fff;
	z-index: 200;
}

.content
{
	height: 100%;
	box-shadow: 0px 8px 6px -6px #ccc inset;
	padding-top: 8px;
	cursor: move;
}

.overlay
{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(100, 100, 100, 0.3);
	opacity:0;
	z-index:900;
	-webkit-transition:opacity 0.25s;
	transition:opacity 0.25s;
}

.overlay.overlay-visible
{
	opacity:1;
	-webkit-transition:opacity 0.25s;
	transition:opacity 0.25s;
}

.overlay-visible > div
{
	opacity:1;
}

.signup
{
	margin: 50px auto;
	width: 500px;
	height: 700px;
	background:#fff;
	padding:10px 50px;
}

.signup h1
{
	text-align:center;
}

noscript
{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1500;
	background:white;
	text-align:center;
	line-height:1.5;
}

noscript div
{
	width:35%;
	margin:10% auto;
}