body
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0px;
	font-family: Helvetica;
	font-size: 11pt;
}

noscript
{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1500;
	background:white;
	text-align:center;
	line-height:1.5;
}

noscript div
{
	width:35%;
	margin:10% auto;
}

.header
{
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 200;
	background: #fff;
	border-bottom: 2px solid #ccc;
}

.header
{
	display: block;
	border-bottom: 1px solid #ccc;
	font-size: 0;
	width:100%;
	background:#fff;
}

.header-content
{
	display:table;
	height:100%;
}

.header-content > div
{
	display: table-cell;
	vertical-align:middle;
	padding: 5px 10px;
	border-right: 1px solid #000;
	font-size: 11pt;
	cursor: pointer;
	color:#111;
}

.header-content > div:active
{
	background: #539EF7;
}

input
{
	transition: 0.4s;
	-webkit-transition: 0.4s;
	border: 1px solid #444;
	background: #fff;
}

input:focus
{
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 5px rgba(102,175,233,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 5px rgba(102,175,233,0.6);
}

.search input
{
	border-radius: 10px;
	width: 200px;
	padding: 3px 8px 3px 25px;
	background: #fff url('../img/search-icon.png') no-repeat;
	background-size: 16px;
	background-position: 5px 2px;
}

.user-data
{
	position: fixed;
	top: 6px;
	right: 10px;
	z-index:201;
}

.user-data > div
{
	padding: 6px 16px;
	cursor: pointer;
	display: inline-block;
}

.main
{
	display: block;
	position:fixed;
	top:51px;
	left:0;
	right:0;
	bottom:0;
}

.sidebar
{
	top:51px;
	bottom:0;
	width: 350px;
	border-right: 1px solid #ccc;
	box-shadow: 0px 8px 6px -6px #ccc inset;
	padding: 10px;
	position: fixed;
	left: -371px;
	background: #fff;
	z-index: 200;
}

.minimap
{
	bottom: 10px;
	width: 350px;
	height: 250px;
	border: 1px solid #ccc;
	padding: 10px;
	position: absolute;
	left: 380px;
	background: #fff;
	z-index: 300;
}

.minimapPoint
{
	display: inline-block;
	position: absolute;
	width:10px;
	height:10px;
	background: black;
}

.content
{
	height: 100%;
	box-shadow: 0px 8px 6px -6px #ccc inset;
	padding-top: 8px;
	cursor: move;
}

.overlay
{
	position:absolute;
	top:0;
	left:0;
	right:0;
	background:rgba(100, 100, 100, 0.3);
	opacity:0;
	z-index:900;
	-webkit-transition:opacity 0.25s;
	transition:opacity 0.25s;
}

@media(min-height:800px) {
	.overlay
	{
		bottom:0;
	}
}

.overlay.overlay-visible
{
	opacity:1;
	-webkit-transition:opacity 0.25s;
	transition:opacity 0.25s;
}

.overlay-visible > div
{
	opacity:1;
}

#overlay-close
{
	font-size: 14pt;
	font-weight: bold;
	float: right;
	margin-right: -40px;
	width: 22px;
	cursor: pointer;
	border-radius: 4px;
	text-align: center;
	border: 1px solid #fff;
	padding: 0px 1px 2px 1px;
	line-height:normal;
}

#overlay-close:hover
{
	border:1px solid #bbb;
}

#overlay-close:active
{
	background:#ddd;
}

.overlay-content
{
	margin: 50px auto;
	width: 500px;
	height: 700px;
	background:#fff;
	padding:10px 50px;
}

.overlay-content h1
{
	text-align:center;
	color:#026BE8;
	margin-top:100px;
	margin-bottom:50px;
}

.overlay-content p
{
	color:#333;
}

.overlay-content button
{
	width:200px;
	height:40px;
	margin:5px;
}

#signup-form input
{
	border-radius:5px;
	padding:4px 7px;
	width:95%;
	font-size:120%;
	border:1px solid #aaa;
}

.overlay-content input[type='file']
{
	display: none;
}

.overlay-content form button,
.gedcom-results-container button
{
	margin-top:22px;
}

#signup-form
{
	text-align:center;
}

#signup-form input
{
	border-radius:5px;
	padding:4px 7px;
	width:95%;
	font-size:120%;
	border:1px solid #aaa;
}

#sign-up-container,
#sign-in-container
{
	width:60%;
	margin:10px auto;
	display:none;
}
