<!doctype html>
<html ng-app='vp-app'>
<head>
	<link rel='stylesheet' type='text/css' href='css/vp-page.css'/>
	<link rel='stylesheet' type='text/css' href='css/vp-core.css'/>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="js/jquery.blockUI.js"></script>
</head>
<body>
<div class='user-data'>
	<div class='search'>
		<input type='text' placeholder='Search'/>
	</div>
	<div class='user-signup'>
		Sign Up
	</div>
	<div class='user-login'>
		Log in
	</div>
</div>

<div class='header'>
	<div class='header-cell'>
		<div class='header-content'>
			<div>This is a header</div>
			<div>This is a header</div>
			<div id='show-sidebar'>Show / Hide Sidebar</div>
			<div id='ui-block'>Block UI</div>
			<div>This is a header</div>
		</div>
	</div>
</div>

<div class='toolbar'>
	<div>This is some toolbar content</div>
	<div>This is some toolbar content</div>
	<div>This is some toolbar content</div>
	<div>This is some toolbar content</div>
</div>

<div class='sidebar' id='vp-sidebar'>
	<div>This is some sidebar content</div>
	<div>This is some sidebar content</div>
	<div>This is some sidebar content</div>
	<div>This is some sidebar content</div>
	<div>This is some sidebar content</div>
	<div>This is some sidebar content</div>
	<div>This is some sidebar content</div>
</div>

<div class='main'>
	<div class='content' id='content' ng-controller='Content'>
		<div ng-repeat='g in graphics' class='graphic' graphic gender={{g.gender}} id='g-{{g.id}}' style='left:{{g.center.x - GRAPHIC_HALF_WIDTH}}px;top:{{g.center.y - GRAPHIC_HALF_HEIGHT}}px;'>
			<div class='id'>{{g.id}}</div>
			{{g.displayname}}<br>
			<span ng-if='g.ahn'>Ahnentafel Number: {{g.ahn}}</span>
		</div>
	</div>
</div>
<script type='text/javascript' src='js/vp-core.js'></script>
<script type='text/javascript' src='js/vp-ng-config.js'></script>
<script type='text/javascript' src='js/core/vp-graphic.js'></script>
<script type='text/javascript' src='js/util/vector2d.js'></script>
<script type='text/javascript' src='js/util/vp-defaults.js'></script>
</body>
</html>