<!doctype html>
<html ng-app='vp-app'>
<head>
	<link rel='stylesheet' type='text/css' href='css/vp-page.css'/>
	<link rel='stylesheet' type='text/css' href='css/vp-core.css'/>
	<link rel='stylesheet' type='text/css' href='css/vp-io.css'/>
	<link rel='stylesheet' type='text/css' href='css/bootstrap.css'/>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="js/jquery.blockUI.js"></script>
	<script src="js/jquery.html5_upload.js"></script>
	<script src="js/jquery.cookie.js"></script>
</head>
<body>
<noscript>
	<div>
		<h1>JavaScript disabled</h1>

		<p>JavaScript is disabled in your browser.</p>
		<p>This web application requires JavaScript. If you would like to use this page, please go to
			your browser&apos;s settings and enable JavaScript.</p>
	</div>
</noscript>
<div class='user-data'>
	<div class='search'>
		<input type='text' placeholder='Search'/>
	</div>
	<div class='user-signup btn btn-primary' id='user-signup'>
		Sign up
	</div>
	<div class='user-login btn btn-danger' id='user-login'>
		Sign in
	</div>
</div>

<div class='header'>
	<div class='header-content'>
		<div id='show-sidebar'>Tools</div>
		<div id='upload-gedcom'>Load GEDCOM</div>
		<div id='ui-block'>Block UI</div>
	</div>
</div>

</div>

<div class='sidebar' id='vp-sidebar'>
	<div>This is some sidebar content</div>
	<div>This is some sidebar content</div>
	<div>This is some sidebar content</div>
	<div>This is some sidebar content</div>
	<div>This is some sidebar content</div>
	<div>This is some sidebar content</div>
	<div>This is some sidebar content</div>
	<div class='minimap' id='vp-minimap'>
		<div class='minimap-content{{demo ? " demo" : ""}}' id='minimap-content' ng-controller='Content'>
			<div ng-repeat='(path, p) in mapPoints' class='minimapPoint' id='p-{{p.path}}' style='left:{{p.getX(maxAhn)}}px;top:{{p.getY(maxAhn)}}px;'>
			</div>
		</div>
	</div>
</div>

<div class='main'>
	<div class='content{{demo ? " demo" : ""}}' id='content' ng-controller='Content'>
		<div ng-repeat='(path, g) in graphics' class='graphic{{g.empty ? " empty" : ""}}{{g.getGenClass()}}{{motionClass()}}' graphic ahn='{{g.line}}' gender='{{g.gender}}' id='g-{{g.ahn}}' style='left:{{g.topleft.x}}px;top:{{g.topleft.y}}px;'>
			<div class='id'>{{g.ahn}}</div>
			<span ng-if='!g.empty && !showedit[g.ahn]'>
				<span class='name'>
					{{g.givenname || g.surname ? g.givenname : g.fullname}}
					{{g.givenname || g.surname ? g.surname : ''}}
					<!--({{g.center.x}}, {{g.center.y}})<br>-->
				</span>
			</span>
			<!--span ng-if='!showedit[g.ahn] && g.empty && g.ahn' class='name'>Ahn#: {{g.ahn}}<br></span>
			<span ng-if='!showedit[g.ahn] && g.empty'>Path: {{g.path}}</span-->
			<input type='checkbox' id='add-{{g.ahn}}-show' ng-model='showedit[g.ahn]' ng-init='showedit[g.ahn]=false'/>
			<label ng-if='!showedit[g.ahn]' for='add-{{g.ahn}}-show'><span ng-if='g.empty'>click to add</span></label>
			<form ng-submit='addPerson(g.ahn)' ng-if='showedit[g.ahn]' class='edit-info'>
				<input type='hidden' id='path-{{g.ahn}}' value='{{path}}'/>
				<input type='submit'/>
				<input id='given-{{g.ahn}}' placeholder='Given Name' ng-model='g.givenname'/><br>
				<input id='sur-{{g.ahn}}' placeholder='Surname' ng-model='g.surname'/><br>
				<label ng-if='g.empty' for='add-{{g.ahn}}-show' ng-click='addPerson(g.ahn)'>Save</label>
				<label ng-if='g.empty' for='add-{{g.ahn}}-show'>Cancel</label>
				<label ng-if='!g.empty && path.length > 1 && graphics[path + "0"].empty && graphics[path + "1"].empty' for='add-{{g.ahn}}-show' ng-click='removePerson(g.ahn)'>Remove</label>
				<label ng-if='!g.empty' for='add-{{g.ahn}}-show'>Done</label>
			</form>
		</div>
	</div>
</div>

<div class='overlay' id='overlay'>
	<div class='overlay-content'>
		<div id='overlay-close' class='btn btn-default'>&times;</div>
		<div id='signup-form'>
			<h1>Sign up or Sign in</h1>

			<button class='btn btn-danger submit' id='signin-google-btn'>Sign in with Google</button><br>
			<button class='btn btn-danger submit' id='signin-facebook-btn'>Sign in with Facebook</button><br>
			<button class='btn btn-danger submit' id='signin-github-btn'>Sign in with Github</button><br>

			<!--button class='btn btn-danger' id='signup-btn'>Sign up</button><br>
			<form id='sign-up-container' onsubmit='return signUp()'>
				<p>Signing up is easy! Just enter your name and email address
					and we&apos;ll take care of the rest.</p>

				<input placeholder='Name'/>
				<input type='email' placeholder='Email'/>
				<button class='btn btn-default submit'>Submit</button>
			</form>
			<button class='btn btn-danger' id='signin-btn'>Sign in</button><br>
			<form id='sign-in-container' onsubmit='return signIn()'>
				<input placeholder='Email'/>
				<button class='btn btn-default submit'>Submit</button>
			</form-->
		</div>
		<div id='gedcom-form' ng-controller='ParseResults' class='{{getControllerClass()}}'>
			<h1>Load GEDCOM File</h1>

			<div id='file-uploader' class='file-upload-container'>
				<button id='upload-file-btn' class='btn btn-danger'>Select file</button>
				<input type='file' id='file-upload' multiple/>
				<div id='uploaded-file-container'></div>
			</div>

			<div id='gedcom-results' class='gedcom-results-container'></div>

			<div id='parse-results' class='parse-results'>
				<table ng-if='data.people'>
					<thead>
						<tr><th colspan=2>Select Person as Root</th></tr>
					</thead>
					<tbody>
						<tr>
							<td><input type='search' ng-model='peopleFilter' placeholder='Filter'/></td>
							<td>
								Sort by:
								<select ng-model='peopleOrder'>
									<option ng-repeat='val in order_props' value='{{val.id}}'>{{val.name}}</option>
								</select>
								<label><input type='checkbox' ng-model='peopleOrderDesc'/> Desc</label>
							</td>
						</tr>
						<tr>
							<td colspan=2>
								<div class='results-list'>
									<div ng-repeat='person in orderabledata | filter:peopleFilter | orderBy:peopleOrder:peopleOrderDesc' class='results-person' ng-click='generatePaths(person.id)' id='result-{{person.id}}'>
										<b>{{person.givenname}} {{person.surname}}</b> ({{person.birthdate}} - {{person.deathdate}})
										<div>
											<b>AFN:</b> {{person.afn}}
										</div>
									</div>
								</div>
							</td>
						</tr>
						<tr ng-if='dataReady'>
							<td colspan=2>
								<button ng-click='loadData()' class='btn btn-primary'>Confirm and Load</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script type='text/javascript' src='js/vp-core.js'></script>
<script type='text/javascript' src='js/vp-page.js'></script>
<script type='text/javascript' src='js/vp-ng-config.js'></script>
<script type='text/javascript' src='js/core/vp-graphic.js'></script>
<script type='text/javascript' src='js/core/vp-creation.js'></script>
<script type='text/javascript' src='js/core/vp-motion.js'></script>
<script type='text/javascript' src='js/core/vp-mapPoint.js'></script>
<script type='text/javascript' src='js/util/vector2d.js'></script>
<script type='text/javascript' src='js/util/vp-defaults.js'></script>
<script type='text/javascript' src='js/util/vp-offsets.js'></script>
<script type='text/javascript' src='js/io/vp-load.js'></script>
<script type="text/javascript">
$(document).ready(function()
{
	$("#vp-minimap").width(MINIMAP_WIDTH);
	$("#vp-minimap").height(MINIMAP_HEIGHT);
});
</script>
</body>
</html>