<!doctype html>
<html ng-app='vp-app'>
<head>
	<link rel='stylesheet' type='text/css' href='css/vp-page.css'/>
	<link rel='stylesheet' type='text/css' href='css/vp-core.css'/>
	<link rel='stylesheet' type='text/css' href='css/bootstrap.css'/>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="js/jquery.blockUI.js"></script>
</head>
<body>
<noscript>
	<div>
		<h1>JavaScript disabled</h1>

		<p>Your browser has disabled JavaScript.</p>
		<p>This web application requires JavaScript. If you would like to use this page, please go to
			your browser&apos;s settings and enable JavaScript.</p>
	</div>
</noscript>
<div class='user-data'>
	<div class='search'>
		<input type='text' placeholder='Search'/>
	</div>
	<div class='user-signup btn btn-primary' id='user-signup'>
		Sign up
	</div>
	<div class='user-login btn btn-danger' id='user-login'>
		Sign in
	</div>
</div>

<div class='header'>
	<div class='header-content'>
		<div>This is a header</div>
		<div>This is a header</div>
		<div id='show-sidebar'>Show / Hide Sidebar</div>
		<div id='ui-block'>Block UI</div>
		<div>This is a header</div>
	</div>
</div>

</div>

<div class='sidebar' id='vp-sidebar'>
	<div>This is some sidebar content</div>
	<div>This is some sidebar content</div>
	<div>This is some sidebar content</div>
	<div>This is some sidebar content</div>
	<div>This is some sidebar content</div>
	<div>This is some sidebar content</div>
	<div>This is some sidebar content</div>
</div>

<div class='main'>
	<div class='content{{demo ? " demo" : ""}}' id='content' ng-controller='Content'>
		<div ng-repeat='(path, g) in graphics' class='graphic{{g.empty ? " empty" : ""}}{{g.getGenClass()}}{{motionClass()}}' graphic ahn='{{g.line}}' gender='{{g.gender}}' id='g-{{g.id}}' style='left:{{g.topleft.x}}px;top:{{g.topleft.y}}px;'>
			<div class='id'>{{g.id}}</div>
			<span ng-if='!g.empty && !showedit[g.id]'>
				<span class='name'>{{g.givenname}} {{g.surname}} <!--({{g.center.x}}, {{g.center.y}})--></span><br>
				<span ng-if='g.ahn'>Ahnentafel Number: {{g.ahn}}</span>
			</span>
			<input type='checkbox' id='add-{{g.id}}-show' ng-model='showedit[g.id]' ng-init='showedit[g.id]=false'/>
			<label ng-if='!showedit[g.id]' for='add-{{g.id}}-show'><span ng-if='g.empty'>click to add</span></label>
			<form ng-submit='addPerson(g.id)' ng-if='showedit[g.id]' class='edit-info'>
				<input type='hidden' id='path-{{g.id}}' value='{{path}}'/>
				<input type='submit'/>
				<input id='given-{{g.id}}' placeholder='Given Name' ng-model='g.givenname'/><br>
				<input id='sur-{{g.id}}' placeholder='Surname' ng-model='g.surname'/><br>
				<label ng-if='g.empty' for='add-{{g.id}}-show' ng-click='addPerson(g.id)'>Save</label>
				<label ng-if='g.empty' for='add-{{g.id}}-show'>Cancel</label>
				<label ng-if='!g.empty && path.length > 1 && graphics[path + "0"].empty && graphics[path + "1"].empty' for='add-{{g.id}}-show' ng-click='removePerson(g.id)'>Remove</label>
				<label ng-if='!g.empty' for='add-{{g.id}}-show'>Done</label>
			</form>
		</div>
	</div>
</div>

<div class='overlay' id='overlay'>
	<div class='signup-content'>
		<div id='overlay-close' class='btn btn-default'>&times;</div>
		<h1>Sign up or Sign in</h1>

		<div class='signup-form'>
			<button class='btn btn-danger' id='signup-btn'>Sign up</button><br>
			<form id='sign-up-container' onsubmit='return signUp()'>
				<p>Signing up is easy! Just enter your name and email address
					and we&apos;ll take care of the rest.</p>

				<input placeholder='Name'/>
				<input placeholder='Email'/>
				<button class='btn btn-default submit'>Submit</button>
			</form>
			<button class='btn btn-danger' id='signin-btn'>Sign in</button><br>
			<form id='sign-in-container' onsubmit='return signIn()'>
				<input placeholder='Email'/>
				<button class='btn btn-default submit'>Submit</button>
			</form>
		</div>
	</div>
</div>
<script type='text/javascript' src='js/vp-core.js'></script>
<script type='text/javascript' src='js/vp-ng-config.js'></script>
<script type='text/javascript' src='js/core/vp-graphic.js'></script>
<script type='text/javascript' src='js/util/vector2d.js'></script>
<script type='text/javascript' src='js/util/vp-defaults.js'></script>
<script type='text/javascript' src='js/util/vp-offsets.js'></script>
</body>
</html>