
body, input {
    font-family: "Courier New", Courier, monospace;
}

h1, h2, h3 {
    font-family: "Comic Sans MS", cursive, sans-serif
}

button {
    font-size: 24px;
    background-color: #6997d3;
    color: #05326d;
    border-radius: 10px;
    text-align: center;
}

button:hover {
    background-color: #8e6dd7;
    color: #280671;
}

button:active {
    background-color: #6997d3;
    color: #06266f;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; white-space: pre-wrap;}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.input-content {
    width: 400px;
    float: left;
}

.input-content #headers, #body, #url, #buttons {
    width: 380px;
    height: 200px;
    margin: 10px;
    border: 3px solid #2E2E1F;
}

.input-content #url {
    height: 30px;
}

.input-content #buttons{
    height: auto;
    text-align: center;
    border: none;
}

.result-content {
    float: left;
}

.result-content #results{ 
    width: 500px;
    min-height: 510px;
    margin-top: 10px;
}












