body
{
	display: table;
	width: 100%;
	height: 100%;
	margin: 0px;
}

.header
{
	display: table-row;
	height: 50px;
	text-align: center;
}

.header-cell
{
	display: table-cell;
	vertical-align: bottom;
}

.header-content
{
	display: inline-block;
	border-bottom: 2px solid #ccc;
	padding: 0 30px;
	font-size: 0;
}

.header-content > div
{
	display: inline-block;
	padding: 8px 10px 2px;
	margin: 5px 0;
	border-left: 1px solid #000;
	font-size: 16px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	cursor: pointer;
	box-shadow: 0px 2px 8px 3px #fff inset;
}

.header-content > div:hover
{
	background: #afe;
}

.header-content > div:active
{
	background: #acf;
	-webkit-transition: none;
	transition: none;
}

.header-content > div:last-child
{
	border-right: 1px solid #000;
}

.user-data
{
	position: absolute;
	top: 6px;
	right: 10px;
}

.user-data > div
{
	padding: 6px 16px;
	cursor: pointer;
	display: inline-block;
}

.user-data > div:hover
{
	text-decoration: underline;
}

.user-login
{
	background: #aef;
}

.user-signup
{
	background: #afe;
}

.search input
{
	transition: 0.4s;
	-webkit-transition: 0.4s;
	padding: 3px 8px 3px 25px;
	border-radius: 10px;
	border: 1px solid #444;
	width: 200px;
	background: url('../img/search-icon.png') no-repeat;
	background-size: 16px;
	background-position: 5px 2px;
}

.search input:focus
{
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 5px rgba(102,175,233,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 5px rgba(102,175,233,0.6);
}

.toolbar
{
	display: table-row;
	text-align: center;
	border-bottom: 2px solid #ccc;
}

.toolbar > div
{
	display: inline-block;
	height: 40px;
	padding: 8px;
	margin: 15px 0 5px 0;
}

.toolbar > div + div
{
	margin-left: 10px;
}

.main
{
	display: table-row;
	height: 100%;
}

.sidebar
{
	float: left;
	height: 100%;
	width: 350px;
	border-right: 1px solid #ccc;
	box-shadow: 0px 8px 6px -6px #ccc inset;
	padding: 10px;
	position: fixed;
	left: 0px;
	background: #fff;
}

.content-container
{
	height: 100%;
	box-shadow: 0px 8px 6px -6px #ccc inset;
	padding-top: 8px;
}