.graphic
{
	position: relative;
	cursor: pointer;
	border-radius: 5px;
	padding: 8px;
	border: 1px solid #333;
	width: 250px;
	z-index: 100;
}

.graphic[gender=m]
{
	background: #aef;
}

.graphic[gender=f]
{
	background: #fae;
}

.graphic .id
{
	float: right;
	background: #777;
	color: white;
	border-radius: 8px;
	padding: 2px;
	position: relative;
	top: -2px;
	min-width: 20px;
	text-align: center;
}